DATABASE_URL="mysql://root:password@127.0.0.1:3306/friend"
SHADOW_DATABASE_URL="mysql://root:password@127.0.0.1:3306/friend-shadow"
NUXT_PUBLIC_TITLE="XXX"
NUXT_PUBLIC_USERNAME="XXX"
NUXT_PUBLIC_DESCRIPTION="XXXXXX"
NUXT_PUBLIC_EMAIL="xx@xx.com"
NUXT_PUBLIC_BANNER_IMAGE="https://imgapi.cn/bing.php"
NUXT_PUBLIC_AVATAR="https://imgapi.cn/api.php?fl=fengjing"
