DATABASE_URL="mysql://root:password@127.0.0.1:3306/friend-daily"
SHADOW_DATABASE_URL="mysql://root:password@127.0.0.1:3306/friend-daily-shadow"

NUXT_PUBLIC_TITLE="默认标题"
NUXT_PUBLIC_USERNAME="默认用户名"
NUXT_PUBLIC_DESCRIPTION="默认描述"
NUXT_PUBLIC_EMAIL="xx@xx.com"
NUXT_PUBLIC_BANNER_IMAGE="https://imgapi.cn/bing.php"
NUXT_PUBLIC_AVATAR="https://imgapi.cn/api.php?fl=fengjing"

NUXT_S3_ACCESS_KEY_ID=""
NUXT_S3_SECRET_ACCESS_KEY=""
NUXT_S3_REGION=""
NUXT_S3_ENDPOINT_URL=""
NUXT_S3_BUCKET_NAME=""
NUXT_S3_UPLOAD_KEY=""
NUXT_S3_FILE_PREFIX_URL=""
